Photos(
        photos=[
                Photo(
                        id=6208394240644465148,
                        access_hash=1870579574713004581,
                        file_reference=b'\x00g\x86\x15\x98\x02\xec\xee\x81\x84\xbf\x1f\x1b\x18\x85\x11\xb8\x1c\xb3\xd2\x83',
                        date=datetime.datetime(2024, 11, 25, 10, 26, 42, tzinfo=datetime.timezone.utc),
                        sizes=[
                                PhotoSize(
                                        type='a',
                                        w=160,
                                        h=160,
                                        size=13505
                                ),
                                PhotoSize(
                                        type='b',
                                        w=320,
                                        h=320,
                                        size=47576
                                ),
                                PhotoSize(
                                        type='c',
                                        w=640,
                                        h=640,
                                        size=165392
                                ),
                                PhotoStrippedSize(
                                        type='i',
                                        bytes=b'\x01((p\x91\x0f\xf1`\xfa\x1ar\xc8\x11\x81;\xb1\x9e\xdd\xea\x1f/r) /\xa9\xf5\xa4`\x06\x02\x9c\x11\xdc\x1e\xb4\x0f[\\\xb0\xcf\x1bu\x89\xbfAQ\x82\xc8s\x19e>\xc6\xa0\x8d\x88\x93\x04\xe75`S\x04K\r\xe4\x8a\xa4\x15\x0c}s\x8a*\xbcg\x93E \xb0\xdb\xc7\xdd\xbb\xaf\xcb\x8c\x01\xefL\xdc\xb1\xed\x04\x90@\x07\x91J\x92C"*\xaa\x9c\xe3\x19#9\xa6\xcb\xf2J\xdb\xcfCN\xe2d\xf6\xd1\xab,\x92\x10\x19W\x81B\xb6z\x0fj\x8e\xd2vY\x82\x8263\x0c\xf1M\xb8q\x14\x9f$x\x0c7~4\xda\x12vd\xa9\x
df<QQE)nvf\x8a\x92\x90Z\xa8\x00qO\xe6[\xe9#\\g\x1b\xb9\x19\xe9\x8a(\xa4"\xab\x90\xcc\xfb\x8e\x08\xc9\xfa\x9an\xc3\xdc\x11\x9a(\xab\x11=\xb2\xe0\x03\xebE\x14T\xee4\x7f'
                                ),
                        ],
                        dc_id=5,
                        has_stickers=False,
                        video_sizes=[
                        ]
                ),
                Photo(
                        id=6113849159917351963,
                        access_hash=6664403057758322630,
                        file_reference=b'\x00g\x86\x15\x98\x8d\xf7\x9a\x0f\x99\xc7\x80 e\xfc/Om\x1f\xed5',
                        date=datetime.datetime(2023, 3, 22, 5, 22, 16, tzinfo=datetime.timezone.utc),
                        sizes=[
                                PhotoSize(
                                        type='a',
                                        w=160,
                                        h=160,
                                        size=7792
                                ),
                                PhotoSize(
                                        type='b',
                                        w=320,
                                        h=320,
                                        size=20243
                                ),
                                PhotoSize(
                                        type='c',
                                        w=640,
                                        h=640,
                                        size=43060
                                ),
                                PhotoStrippedSize(
                                        type='i',
                                        bytes=b'\x01((\xb3KLf\xda\xa4\x9e\xd4H\xfeZ+\x17\x89\xb7}\xd0\xaf\xf7\xb9\xc7\x1cU\xbd\x0e\x18\xc5\xcba\xf4S^M\xb1\xb7\xcb\x92\x99-\x83\xe8q\xc5\x1eg\x1bv\x8f\xbb\xbf9\xe3\x1e\xb9\xac\xb9\xfb#Oc!h\xa0\x1c\x80}h\xad\x8eq\xb5\x1b`G\x1f\xfb\xa7\xff\x00C\x14\xfa\n!\x8fn\xe3\x91\x9c\x1fL\x9c\xff\x00:U:#\xa6\x8e\x97\x16GBn@B\xa4\x03\xf3n\xcey\x19\xe3\xb5) \xc0c\x07\x96&ELuL\xf4\xfe\xb5\x03F\xcc\xcc\xa5\xdb\xe6\x07q\xe3\xe6\x06\xa4\xdb\x9ew\xb7\x98\x0ew\xe0q\xe9Y\xf2\xb4\
xce\x895m\x07\xe7# \xe4\x1a)\x14mP\xb9\xce(\xad\xecp4%-\x14U\x16\x82\x8a(\xa0\xa0\xa2\x8a(\x11'
                                ),
                        ],
                        dc_id=5,
                        has_stickers=False,
                        video_sizes=[
                                VideoSize(
                                        type='p',
                                        w=160,
                                        h=160,
                                        size=123829,
                                        video_start_ts=None
                                ),
                                VideoSize(
                                        type='u',
                                        w=800,
                                        h=800,
                                        size=351296,
                                        video_start_ts=None
                                ),
                                VideoSizeEmojiMarkup(
                                        emoji_id=5431411862950388510,
                                        background_colors=[
                                                6207227,
                                                2084587,
                                                4585399,
                                                2093529,
                                        ]
                                ),
                        ]
                ),
        ],
        users=[
        ]
)